@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --offWhite: #F8F8F8;
    --offBlack900: #171717;
    --offBlack500: #666666; 
    --offBlack100: #E3E3E3; 

    --accentGreen: #B9E24E;
    --deepSeaGreen800: #075F4A;
    --deepSeaGreen500: #12B787;
    --lightGreen100: #D2F9E3;

    --semanticRed: #C82424;
    --semanticBlue: #D2EBF9;
    --semanticOrange: #E39A2C;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--offWhite);
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

h1, h2 {
    /* regular: 400, medium: 500, bold: 700 */
    font-family: 'DM Sans', sans-serif; 
    font-weight: 700;
}

h3 {
    font-family: 'DM Sans', sans-serif; 
    font-weight: 500;
}

label {
    font-family: 'DM Sans', sans-serif; 
    font-weight: 400;
}

p {
    /* light: 300, regular: 400, medium: 500, bold: 700 */
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--offWhite)
}

.btn {
    font-family: 'DM Sans', sans-serif; 
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 1rem 2rem;
    background-color: var(--deepSeaGreen800);
    color: #fff;
    margin-top: .5rem;
    box-sizing: border-box;
}

.btn--outline {
    font-family: 'DM Sans', sans-serif; 
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--offBlack900);
    padding: 1rem 2rem;
    color: var(--offBlack900);
    box-sizing: border-box;
}

/*  desktop */
@media (min-width: 992px) {

}